
.mainImg{
    border-radius: 20px;
    width: 500px;
    height: 500px;
}
.login{
    margin-top:2%;
    margin-left:27%;
    position:absolute;
}
h1{
    color:rgb(11, 11, 11);
    margin-left:31%;
    position: relative;
}
Button >.MuiSvgIcon-root
{
    color:white;
    background-color: rgb(252, 24, 24);
    margin-right:4px;
}
.button{
    margin-left:31% !important;
    position: relative !important;
    border: 2px solid black !important;
    color: black !important;
    font-weight: 900 !important;
    border-radius:10px solid black !important;
}